#scorePanel{
  /*clearfix()*/
  margin: 0 auto;
  max-width: 900px;
  max-height: 600vh;
  font-family: 'Bradly Hand ITC';
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  .playerX, .resetBtn, .playerO {
    margin: 0 auto;
    /*col(1/3, cycle: 3)*/
  }

  .playerX, .playerO {    
    .wrapper {
      margin: 0 auto;
      width: 150px;
      height: auto;
      max-width: 150px;
      .gfx {
        cursor: pointer;
        img {
          width: 100%;
          height: auto;
        }
      }
      .score, .name {
        margin: 0 auto;
        padding: 0;
        width: 50%;
        border-style: solid;
        border-width: 2px;
        display: inline-block;
        font-size: 1.5em;
      }
      .score {
        border-radius: 1.5em;
        width: 50%;
      }
      .name {
        width: 100%;
        input {
          cursor: text;
          width: 100%;
        }
       }
    }
  }
  .resetBtn {
    .wrapper{
      margin: 0 auto;
      width: 100px;
      height: auto;
      max-width: 200px;
      .cta {
        width: 100px;
        margin: 0 auto;
        a.btn {
          border-radius: 0.5em;
          margin: 0;
          padding: 0.5em 1em;
          text-decoration: none;
          &.default{
            background-color: black;
            border-color: #B01722;
            color: white;
          }
          &:hover, &:active {
            background-color: darken(#B01722, 50%);
          }
        }
      }

      #boardSize {
        margin: 0 auto;
        label {
          text-align: left;
          width: 150px;
        }
      }    
    }
  }
}

#gameBoard {
  /*clearfix();*/
  background: url('../../Images/chopsticks-3x3.png') no-repeat center;
  background-size: cover;
  border: 1px solid black;
  border-radius: 2em;
  margin: 0 auto;
  max-width: 600px;
  max-height: 600vh;
  .cell {
    // border 1px solid black
    margin: 0 auto;
    width: 200px;
    height: 200px;
    max-width: 200px;
    cursor: pointer;
    /*col(1/3, cycle: 3, gutter: 1)*/
    // &:first-child{
    //   border-top: 0;
    //   border-left: 0;
    // }
    // &:nth-child(2){
    //   border-top: 0;
    // }
    // &:nth-child(3){
    //   border-top: 0;
    //   border-right: 0;
    // }
    // &:nth-child(4){
    //   border-left: 0;
    // }
    // &:nth-child(6){
    //   border-right: 0;
    // }
    // &:nth-child(7){
    //   border-left: 0;
    //   border-bottom: 0;
    // }
    // &:nth-child(8){
    //   border-bottom: 0;
    // }
    // &:nth-child(9){
    //   border-right 0
    //   border-bottom 0
  }

  .X, .O {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: auto;
    max-width: 150px;
    display: none;
    img {
      width: 100%;
      height: auto;
    }
  }
  .active {
    display: block;
  }
};