// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.jumbotron {
  margin: 1em 0;
  overflow: hidden;
  text-align: center;
  background-color: #F0EDDE;

  .wrapper {
    margin: 0 auto;
    max-width: 900px;
  }

  .logo {
    margin: 0 auto;
    img {
      width: 90%;
      height: auto;
    }
  }
  .title {
    margin: 0 auto;

    h1 {
      color: black;
      display: inline-block;
      font-size: 6.8em;
      font-weight: normal;
      text-shadow: 0.5px 0.5px 0.5px;
      font-family: 'Bradly Hand ITC';
      margin: 0;
      padding: 0;
      // text-transform uppercase
      /*+below('l')
        font-size 4em

      +below('s')
        font-size 2em*/
    }
  }

}
