/*.mainPanel {
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;  
  }
}*/

/*.mainPanel::after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('../../Images/birds.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}*/

.scorePanel {
    margin: 0 auto;
    font-family: 'Bradly Hand ITC';
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    .playerX, .playerO {
        .playerIcon {
            cursor: pointer;
            img {
                width: 75px;
                height: auto;
            }
        }
        .score, .name {
            margin: 0 auto;
            padding: 0;
            border-style: solid;
            border-width: 2px;
            display: inline-block;
            text-align: center;
            font-size: 0.75em;
            height: 20px;
        }
        .score {
            border-radius: 1.5em;
            width: 50px;
        }
        .name {
            border-radius: .5em;
            width: 100%;
            cursor: text;
        }
    }
    .gameSetup {
        z-index: 2;
        margin: 0 auto;
        .btn-custom, select, label {
            margin: 0 auto;
            text-align: center;
            font-size: 0.75em;
            width: 75px;
            height: 25px;
        }
        select, label {
            color: $text-color;
        }
    }
}

.gameBoard {
    background: url('../../Images/chopsticks-3x3.png') no-repeat center;
    background-size: cover;
    border: 1px solid black;
    border-radius: 2em;
    margin: auto;
    width: 303px;
    height: 303px;
    min-width: 303px;
    .cell {
        border: 1px solid black;
        margin: 0 auto 0 7.5px;
        padding: 0;
        width: 100px;
        height: 100px;
        min-width: 100px;
        cursor: pointer;
    }
    .X, .O {
        display: block;
        margin: 0 auto;
        width: 75px;
        height: auto;
        display: none;
        img {
            width: 100%;
            height: auto;
        }
    }
    .active {
        display: block;
    }
}


/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */ 
@media only screen and (min-width : $sm-screen) {
        
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : $md-screen) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : $lg-screen) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
        
}