// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer{
    margin: 10px auto 0 auto;
    background-color: black;
    width: 100%;
    max-width: $max-width;
    min-width: $min-width;
    max-height: 100px;
    min-height: 50px;
    font-size: 0.75em;
    ul {
        margin: 0 auto;
        padding: 0;
        color: white;
        float: none !important;
        width: 100%;
        text-align: center;
        li {
            display: inline-block;
        }
    }
    &.social-links {
        .fa {
          font-size: 1rem;
        }
    }
    &.legal-links {
        li {
          font-size: 1rem;
        }
    }

    @media only screen and (min-width : $sm-screen) {
        font-size: 1em;
    }
    @media only screen and (min-width : $md-screen) {
        font-size: 1.5em;
    }
    @media only screen and (min-width : $lg-screen) {
        font-size: 2em;    
    }
}